body {
  background: url(/assests/images/bg-desktop.svg);
  background-color: rgb(103, 75, 177);
}

header {
  display: flex;
  align-items: center;
  color: #ffff;
  padding-left: 192px;
  box-sizing: border-box;
}

header h1 {
  margin-left: 5px;
}

/* ****** banner section****** */

.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.banner-img {
  width: 566px;
  height: 361px;
}

#banner-img {
  width: 100%;
  height: 100%;
  /* object-fit: contain; */
}

.content-container {
  width: 566px;
  height: 499px;
  margin-left: 30px;
  padding-top: 82px;
  box-sizing: border-box;
}

.info-div {
  color: rgb(252, 242, 255);
  width: 285px;
}
.info-div h2 {
  font-size: 1.8125rem;
  font-weight: bold;
}

.info-div-two {
  width: 395px;
  color: rgb(192, 170, 231);
}

button {
  width: 149px;
  height: 41px;
  border-radius: 25px;
  border: none;
  box-shadow: -1px 3px 10px 2px #363434;
  cursor: pointer;
}

button:hover {
  background-color: rgb(222, 216, 216);
}
.icons-div {
  color: #ffff;
  width: 126px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 157px;
  left: 387px;
}

.facebook {
  border: 1px solid white;
  padding-top: 6px;
  border: 1px solid white;
  width: 22px;
  border-radius: 30px;
  height: 21px;
  padding-left: 6px;
}

.twitter {
  border: 1px solid white;
  padding-top: 6px;
  border: 1px solid white;
  width: 22px;
  border-radius: 30px;
  height: 21px;
  padding-left: 6px;
}

.instagram {
  border: 1px solid white;
  padding-top: 6px;
  border: 1px solid white;
  width: 22px;
  border-radius: 30px;
  height: 21px;
  padding-left: 6px;
}

@media only screen and (max-width: 768px) {
  .banner-container {
    flex-direction: column;
  }
}
@media only screen and (max-width: 768px) {
  .banner-img {
    width: 100%;
    height: 361px;
  }
}
@media only screen and (max-width: 768px) {
  #banner-img {
    object-fit: contain;
  }
}

@media only screen and (max-width: 768px) {
  .info-div {
    margin: auto;
    margin-bottom: 28px;
  }
}

@media only screen and (max-width: 768px) {
  .info-div-two {
    margin: auto;
    margin-bottom: 20px;
    width: 267px;
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .button-div {
    margin: auto;
    width: 157px;
  }
}

@media only screen and (max-width: 768px) {
  .icons-div {
    position: relative;
    top: 99px;
    left: 219px;
  }
}

@media only screen and (max-width: 768px) {
  header {
    padding: 0px;
  }
}
